<%- include("partials/header"); -%>
    <h1 class = "para text-center">About</h1>
    <h3 class="para1"> <%= aboutContent %> </h3>
    <ul>
        <br>
        <li><b>Self-Expression</b></li>
        Our tools allow our user community to communicate with each other in immediate and creative ways. We believe in letting our users create their own content, to choose how they express themselves, their thoughts, and their feelings.</p>
        <br>
        <li><b>Diversity</b></li>
        Our tools allow our user community to communicate with each other in immediate and creative ways. We believe in letting our users create their own content, to choose how they express themselves, their thoughts, and their feelings.</p>
        <br>
        <li><b>Creativity</b></li>
        We encourage our user community to use LiveJournal to share the process of creating their content with friends. We believe that everyone has something to offer, whatever form it may take, and want to make it easy for our users to share that with the world.</p>
        <br>
        <li><b>Community</b></li>
        LiveJournal thrives because of loyal users and active community volunteers. We're committed to collaborating with the community in order to improve the service for everyone, so we work to incorporate member feedback into our product and technical decisions. The LiveJournal community enjoys an unprecedented amount of influence and input into product and policy decisions.</p>
        <br>
        <li><b>Privacy</b></li>
        We make sure to safeguard our users' private Journal entries but also provide tools that allow them to choose with whom to share the content they want to share, be it with just a small group of friends, or with a larger user-created community. We respect the decisions our users make, and let them decide how to protect the content they create. We continue to maintain the service that the LiveJournal community trusts.</p>
    </ul>
<%- include("partials/footer"); -%>
