<%- include("partials/header"); -%>
    <h1 class = "para text-center">Help</h1>
    <h3 class="para1"> <%= helpContent %> </h3>
    <li>If you are experiencing any troubles logging into your account, you can request an email with a list of your usernames or with a password-reset link, following recommendations provided in <a href="https://www.livejournal.com/support/faq/17.html">this FAQ section</a>.</li>
    <h3 class="para1">Known Issues:</h3>
    <ul>
    <li>Due to recent updates of Safari browser v.13.0.4 by Apple, users experiencing problems with authorization on various sites, including LiveJournal.
    If you are experiencing such problems, please disable "Prevent cross-site tracking" option of your browser's "Privacy" settings.
    </li><br>
    <li>Import posts from Facebook to LiveJournal blog is temporarily unavailable due to protocol changes on Facebook's side. Our developers aware of this problem and are taking appropriate measures to resolve them.
    </li><br>
    <li>It is known that some users experience problems loading certain site pages (comments pages, Friends Feed, etc.) while using <strong>Ghostery browser add-on</strong>. If this add-on is enabled in your browser and you are experiencing problems viewing any LiveJournal pages, please try adding livejournal.com in white list for this add-on or disable it completely.
    </li><br>
    </ul>
<%- include("partials/footer"); -%>
