
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <p><%=content%></p>
    <a href="/"><button class="btn btn-info">Back</button></a>
    <button class="btn btn-danger" type="submit">Delete</button>
<%- include("partials/footer"); -%>
